.page {
  background-image: url("https://img.freepik.com/free-photo/banking-saving-money-management-account-concept_53876-124787.jpg?w=740&t=st=1702265208~exp=1702265808~hmac=8ef1f40d764b449a5b70ae379dcf47e54e4bbd3ea995b787a695082bc5e5f314");
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  font-family: Arial, Helvetica, sans-serif;
}